<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!--保存至文件-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} ${level:uppercase=true} ${threadid} ${message} ${stacktrace}  ${exception:format=tostring}" />
    </target>
    <target name="normalLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="logs/normal-${shortdate}.log"  encoding="UTF-8">
        <layout type="JsonLayout" includeAllProperties="true" >
          <attribute name="time" layout="${longdate}" />
          <attribute name="level" layout="${level}" />
          <attribute name ="logger" layout="${logger}"/>
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=tostring}" />
        </layout>
      </target>
    </target>
    <target name="accessLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="logs/access-${shortdate}.log" layout="${message} ${exception:format=tostring}" >
      </target>
    </target>
    <target name="callLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="logs/call-${shortdate}.log" layout="${message} ${exception:format=tostring}" >
      </target>
    </target>
    <target xsi:type="Null" name="blackhole" />

    <!--输出至Debugger-->
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${message}" />
    <!--输出至控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true} ${logger} ${threadid} ${message} ${exception:format=tostring}"></target>
  </targets>

  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <!--INFO,WARN,ERROR,FATAL-->
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->

    <!--访问日志-->
    <logger name="accessLog" minlevel="Debug" writeTo="accessLogFile" final="true" />
    <!--调用日志-->
    <logger name="callLog" minlevel="Debug" writeTo="callLogFile" final="true" />
    <!--这里记录EF的SQL日志-->
    <!--<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="normalLogFile" final="true"  />-->
    <!--这里记录所有接到MQ消息的日志-->
    <logger name="RawRabbit.Extensions.*" minlevel="Info" writeTo="normalLogFile" final="true"  />
    <!--屏蔽微软框架的日志-->
    <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="RawRabbit.*" maxlevel="Info" writeTo="blackhole" final="true" />
    <!--普通日志-->
    <logger name="*" minlevel="Info" writeTo="normalLogFile" final="true"/>

  </rules>
</nlog>